.container{
    position: relative;
    background-color: #120925;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    overflow: hidden;
}

.wave_background{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

    z-index: 0;
}
.heading{
    font: 600 110px/1.2 "Inter", sans-serif !important;
}

.text{
    font: 400 40px/1.2 "Inter", sans-serif !important;
}

.button{
    width: 220px;
    height: 61px !important;
    font: 800 32px/1.2 "Inter", sans-serif !important;
}

@media  (max-width: 1400px) {


.heading{
    font: 600 80px/1.2 "Inter", sans-serif !important;
}

.text{
    font: 400 30px/1.2 "Inter", sans-serif !important;
}

.button{
    width: 200px;
    height: 51px !important;
    font: 800 28px/1.2 "Inter", sans-serif !important;
}
}

@media  (max-width: 1280px) {
.heading{
    font: 600 70px/1.2 "Inter", sans-serif !important;
}

.text{
    font: 400 25px/1.2 "Inter", sans-serif !important;
}

.button{
    width: 180px;
    height: 51px !important;
    font: 800 24px/1.2 "Inter", sans-serif !important;
}
}


@media  (max-width: 1200px) {

    .heading{
        font: 600 60px/1.2 "Inter", sans-serif !important;
    }

    .text{
        font: 400 20px/1.2 "Inter", sans-serif !important;
    }

    .button{
        width: 160px;
        height: 51px !important;
        font: 800 20px/1.2 "Inter", sans-serif !important;
    }
    }