.container {
    display: grid;
    grid-template-columns: 0 3fr 2fr;
    grid-template-rows: 1fr;

    grid-template-areas: ". board chat";
    align-items: center;
    justify-content: center;
    justify-items: end;
    width: 100%;
    height: 100vh;

    background-color: #120925;
}

.board_container {
    grid-area: board;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

@media (max-width: 1280px) {
    .board_container {
        width: 90%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .board_container {
        width: 95%;
        height: 400px;
        margin-top: 50px;
    }
}